.header-inner {
    position: relative;
    z-index: 1000;
}

/** Site title
 *
 *------------------------------------------ */
.project-name .site-title {
    font-size: 1.2em;
    display: inline;
}

/** Extra Small Size
 *
 * ----------------------------------------- */
.xs.menu {
    padding: .6em;
    background-color: #c6a53b;
    font-size: 1.2em;
}
.xs.menu > span {
    display: inline-block;
}
.xs.menu .icon.left {
    font-size: 1.8em;
}
.xs.menu .icon.right {
    float: right;
    margin-right: .6em;
    font-size: 2em;
}
.xs.menu .project-name {
    padding: .2em 0 0 .8em;
}



.xs.sub-menu {
    display: none;
}
.xs.sub-menu a {
    display: block;
    padding: .6em 0 .6em 1em;
    background-color: #0A246A;
}



/** Medium Size
 *
 * ----------------------------------------- */
.md {
    display: none;
}


.md.menu {
    top: 0;
    left: 0;
    right: 0;
}

.md.menu.fixed {
    display: none;
    position: fixed;
    z-index: 950;
}
.md.movable-header {
    position: relative;
    z-index: 1000;
}

.md.title-image {

}
.md.title-image img {
    width: 100%;
}

.md.menu {
    margin: 0 auto;
    padding: 1em;
    max-width: 1248px;
    background-color: #525252;
}

.md.menu a {
    display: inline-block;
    padding: .2em .6em;
    color: white;
    font-size: 1.2rem;
}

@media all and ( min-width: 640px ) {
    .md.menu.fixed {
        display: block;
    }
}
