body {
    min-height: 2048px;
}
header,
footer,
.layout-content-inner {
    max-width: 1248px;
    margin: 0 auto;
}



@media all and ( min-width: 640px ) {
    .xs {
        display: none!important;
    }
    body {
        /* margin-top: 90px!important; /* overriding bootstrap */
    }
    .md {
        display: block;
    }
}

@media all and ( min-width: 900px ) {
    .layout-content-inner {
        position: relative;
        overflow: auto;
    }
    .content-left {
        padding-right: 320px;
        overflow: hidden;
    }
    .content-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}